.header {
    font-family: 'Proxima Nova Bold';
    .container-fluid {
        padding: 0;
    }
    &__top {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: $white;
        z-index: 50;
    }
    &__top-inner {
        padding: 0 51px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__center {
        margin-top: 165px;
        padding-bottom: 115px;
        background: center / cover no-repeat url(../img/header__bg.jpg);
    }
    &__center-inner {
        margin: 0 auto;
        padding: 0 51px;
        width: 100%;
    }
}
.navigation-top {
    border-bottom: 1px solid rgba(30, 46, 54, 0.6);
    &__socials {
        display: flex;
        margin-right: 51px;
        
    }
    &__phone {
        margin-right: auto;
        display: flex;
        align-items: center;
    }
    &__menu {
        padding: 19px 0;
    }
}
.socials {
    display: flex;
    align-items: center;
    gap: 5px;
    &__text {
        font-family: 'Proxima Nova Bold';
        font-size: 18px;
        line-height: 125%;
    }
}
.phone {
    &__link {
        padding: 0 5px;
        font-size: 18px;
        line-height: 125%;
        text-transform: uppercase;
    }
}
.menu {
    &__list {
        display: flex;
    }
    &__list-item {
        display: flex;
    }
    &__list-item + &__list-item {
        margin-left: 16px;
    }
    &__list-link {
        font-size: 18px;
        line-height: 125%;
        text-transform: uppercase;  
        height: 100%;
        position: relative;        
    }
    &__list-link:hover {        
        &::after{            
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            background-color: $green;
            bottom: -3px;
            left: 0;            
        }
    }
}
.navigation-bottom {
    display: flex;
    align-items: center;
    &__menu-product {}
    &__logo {
        margin-left: 115px;
        margin-right: auto;
    }
}
.menu-product {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
    }
    &__list-item {
        display: flex;
    }
    &__list-item + &__list-item {
        margin-left: 15.5px;
    }
    &__list-link {
        font-size: 18px;
        line-height: 125%;
        text-transform: uppercase;
        height: 100%;
    }
    .arrow {
        margin-left: 3px;
    }
}
.logo {
    padding: 15px 0;
}
.client {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    &__cart-link {
        position: relative;
        padding-left: 34px;
        padding-bottom: 3px;
        font-size: 18px;
        line-height: 170%;
        text-transform: uppercase;
        margin: 36px 0;
    }
    &__cart-link::before {
        position: absolute; 
        content: "";
        width: 30px;
        height: 30px;
        background-image: url(../img/cart.svg);
        left: -2px;
        top: 0;
    }
}
.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 670px;
    max-width: 462px;
    padding: 100px 75px 100px 62px;
    background-color: $white;
    border-left: 15px solid $green;
    &__title {
        font-size: 64px;
        line-height: 100%;
        margin-bottom: 50px;
    }
    &__item-title {
        font-size: 36px;
        line-height: 125%;
        margin-bottom: 10px;
    }
    &__item-describe {
        font-family: 'Proxima Nova';
        font-size: 36px;
        line-height: 125%;
        margin-bottom: 28px;
        text-align: center;
    }
    &__link-more {
        margin-bottom: 50px;
    }
    &__controls {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 8px;
        row-gap: 5px;
    }
    &__item-numbers {
        width: 100%;
        text-align: center;
        font-size: 24px;
        line-height: 125%;
        text-transform: uppercase;
    }
    &__item-numbers-big {
        font-size: 36px;
        line-height: 125%;
    }
    &__arrow-prev {
        background: transparent;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
    }
    &__arrow-next {
        background: transparent;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
    }
}
