html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

$green: #44C697;
$grey: #1E2E36;
$white: #fff;
$black: #000;
$red: #FF1B1B;

body {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 16px;
    color: $grey;
    background-color: #fff;
}
.container-fluid {
    max-width: 1920px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}

.title {
    font-family: 'Proxima Nova Bold';
    font-size: 48px;
    line-height: 125%;
    margin-bottom: 50px;
    position: relative;
}

.title::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 85%;
    background-color: $green;
    left: -5px;
    top: 3px;
    z-index: -10;
}

.btn {
    padding: 14.5px 46px;
    background: $green;
    border-radius: 3px;
    color: $white;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    border: none;
}
.btn:hover {
    color: $white;
}
