.questions {
    .container-fluid {
        padding: 0;
    }
    font-family: 'Proxima Nova Bold';
    &__inner {
        margin: 0 auto;
        padding: 50px 0 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__general {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    &__general-consultation {
        width: 528px;
        min-height: 457px;
        padding: 51px 51px 50px 30px;
        border-left: 15px solid $green;   
        background-color: $white;
        margin: 100px 0 118px 0;
    }
    &__general-img {
        position: absolute;
        left: 0;
        z-index: -10;
    }
    &__general-img-link {}
}

.consultation-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__title {
        font-size: 36px;
        line-height: 125%;
        margin-bottom: 30px;
    }
    &__name {
        width: 100%;
        margin-bottom: 14px;
        height: 50px;
        padding: 14px 15px;
        font-family: 'Proxima Nova';
        font-size: 18px;
        line-height: 125%;
        color: $grey;   
        margin-bottom: 16px; 
        border-radius: 3px;
        border: 1px solid $grey;
        outline: none;    
    }
    &__phone {
        width: 100%;
        margin-bottom: 15px;
        height: 50px;
        padding: 14px 15px;
        font-family: 'Proxima Nova';
        font-size: 18px;
        line-height: 125%;
        color: $grey; 
        border-radius: 3px;
        border: 1px solid $grey;
        outline: none;       
    }
    &__btn {
        width: 100%;
        margin-bottom: 30px;
    }
    &__name::placeholder,
    &__phone::placeholder {
        font-family: 'Proxima Nova';
        font-size: 18px;
        line-height: 125%;
    }
    &__name:active,
    &__name:focus,
    &__phone:active, 
    &__phone:focus {
        border: 1px solid $green;
    }
    &__info {
        font-family: 'Proxima Nova';
        font-size: 18px;
        line-height: 130%;
        width: 90%;
    }
    &__info-big {
        font-family: 'Proxima Nova Bold';
    }
}

